body {
	text-align: center;
	font-family: "Consolas", monospace;
	background: hsl(0, 0%, 80%);
	color: black;
	font-size: 18px;
}

h1 {
	font-size: 32px;
	margin: 16px;
}

#number {
	font-size: 20px;
}

input[type="range"] {
	width: 400px;
	vertical-align: middle;
}

input[type="number"] {
	width: 50px;
	font-size: 18px;
}

svg {
	margin: auto;
	width: 720px;
	height: 720px;
}

.bin-string {
	fill-opacity: 0%;
}

.bin-string:hover {
	stroke: red;
	stroke-width: 2px;
}
